/* button one */

.buttonOne {
  --button-color: #ffffff;
}

.buttonOne[aria-expanded='true'] {
  --button-color: #c5291d;
}

.hamburger {
  margin: auto;
  height: 2rem;
  width: 2rem;
}

.buttonOne .line {
  transition:
    y 150ms ease-in 150ms,
    rotate 150ms ease-in,
    opacity 0ms 150ms;
  transform-origin: center;
}

.buttonOne[aria-expanded='true'] .line {
  transition:
    y 150ms ease-in,
    rotate 150ms ease-in 150ms,
    opacity 0ms 150ms;
}

.buttonOne[aria-expanded='true'] :is(.top, .bottom) {
  y: 45px;
}

.buttonOne[aria-expanded='true'] .top {
  rotate: 45deg;
}

.buttonOne[aria-expanded='true'] .middle {
  opacity: 0;
}

.buttonOne[aria-expanded='true'] .bottom {
  rotate: -45deg;
}
