@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.remove-arrow {
  -moz-appearance: textfield;
}
@layer base {
  body {
    @apply font-sans;
    @apply bg-background;
    min-height: 100vh;
  }

  h1 {
    @apply font-serif;
    @apply text-5xl;
  }

  h2 {
    @apply font-serif;
    @apply text-4xl;
    @apply text-primary-700;
  }

  h3 {
    @apply font-serif;
    @apply text-3xl;
    @apply text-primary-700;
  }

  h4 {
    @apply font-serif;
    @apply text-2xl;
    @apply text-primary-700;
  }

  h5 {
    @apply font-serif;
    @apply text-xl;
  }

  h6 {
    @apply font-serif;
    @apply text-lg;
  }

  p {
    @apply mb-2;
  }
}

@layer components {
  .button {
    @apply text-primary-700 hover:text-shade-light;
    @apply bg-shade-light hover:bg-primary-700;
    @apply border-primary-700 hover:border-shade-light;
  }

  .button-emphasised {
    @apply text-neutral-50;
    @apply bg-primary-700 hover:bg-primary-900;
  }
}
