@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    min-height: 100vh;
    font-family: 'DM Sans', sans-serif;
  }

  h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 56px;
    line-height: 64px;
  }

  h2 {
    font-family: 'DM Serif Display', serif;
    font-size: 48px;
    line-height: 56px;
  }

  h3 {
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
    line-height: 48px;
  }

  h4 {
    font-family: 'DM Serif Display', serif;
    font-size: 32px;
    line-height: 40px;
  }

  h5 {
    font-family: 'DM Serif Display', serif;
    font-size: 24px;
    line-height: 32px;
  }

  h6 {
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    line-height: 28px;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
